<div class="content-container">
<div class="page-header">
  <h1>
    Hoods
    <% if current_user.admin == true %>
    <a href="/hoods/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
    <% end %>
  </h1>
</div>

<div class "row">
<div class = "one-third-left">
<div class = "hoods-map-container">
<img class = "foto" src="http://theboothexp.com/wp-content/uploads/2014/12/chicago.jpg" alt="">
</div>
</div>



<div class = "one-half-right">
<!-- Simple table layout example -->

  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>State</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @hoods.each do |hood| %>
        <tr>
          <td><a href="/hoods/<%= hood.id %>"><%= hood.name %></a></td>

          <td><%= hood.city %></td>
          <td><%= hood.state %></td>

          <% if current_user.admin == true %>
          <td>
            <a href="/hoods/<%= hood.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
          </td>

          <td>
            <a href="/hoods/<%= hood.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
          </td>


          <td>
            <a href="/delete_hood/<%= hood.id %>" class="btn btn-danger">
              <i class="fa fa-trash-o"></i>
            </a>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- End simple table layout example -->
</div>
</div>

<!-- JavaScript for Isotope layout and quicksearch -->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container').isotope({
      itemSelector: '.isotope-item',
      layoutMode: 'masonry',
      filter: function() {
        return qsRegex ? $(this).text().match( qsRegex ) : true;
      }
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->
</div>
