<div class="content-container">
<!-- Simple full-width example-->

<div class="page-header">
  <h1><%= @hood.name %></h1>
</div>
<div class = "one-half-left">
  <!-- Put cordinates into an array -->
  <% @barbershop_coords = [] %>
  <% @barbershops.each do |marker| %>
  <%  @barbershop_coords.push(['test', marker.latitude , marker.longitude]) %>
  <% end %>

  <!-- Code for Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <div id="map-canvas" style="height: 400px"></div>
  <script>

    function initialize() {

      var map;

      var myCenter = new google.maps.LatLng( <%= @hood.latitude %>, <%= @hood.longitude %>);

      var mapOptions = {
        zoom: 15,
        center: myCenter
      };

      map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

  //Multiple Makers

  <% @barbershops.each do |barbershop| %>

  var myLatlng = new google.maps.LatLng(<%= barbershop.latitude %>, <%= barbershop.longitude %>);
  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title: '<%= barbershop.name %>'

  });
  <% end %>

}

google.maps.event.addDomListener(window, 'load', initialize);

</script>
</div>

    <!-- Simple table layout example -->

      <div class ="one-half-right">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Telephone</th>
              </tr>
            </thead>
            <tbody>
              <% Barbershop.where(hood_id: @hood.id).each do |shop| %>
              <tr>
                <td><a href="/barbershops/<%= shop.id %>"><%= shop.name %></a></td>
                <td><%= shop.address %></td>
                <td><%= shop.telephone %></td>
                <% end %>
              </tr>


            </tbody>
          </table>
          </div>
          </div>
          </div>





