<!-- Validation failure messages -->

<% if @works_at.errors.any? %>
  <% @works_at.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<!-- Simple full-width example -->

<div class="page-header">
  <h1>Edit Works At #<%= @works_at.id %></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_works_at/<%= @works_at.id %>" class="form-horizontal">
      <!-- Label and input for barbershop_id -->
      <div class="form-group">
        <label for="barbershop_id" class="col-sm-2 control-label">
          Barbershop
        </label>
        <div class="col-sm-10">
          <!-- <input type="text" id="barbershop_id" name="barbershop_id" placeholder="Barbershop" class="form-control" value="<%= @works_at.barbershop_id %>"> -->
           <%= select_tag(:barbershop_id, options_from_collection_for_select(Barbershop.all, :id, :name), :class => "form-control" ) %>

        </div>
      </div>

      <!-- Label and input for barber_id -->
      <div class="form-group">
        <label for="barber_id" class="col-sm-2 control-label">
          Barber
        </label>
        <div class="col-sm-10">
         <!--  <input type="text" id="barber_id" name="barber_id" placeholder="Barber" class="form-control" value="<%= @works_at.barber_id %>"> -->
          <%= select_tag(:barber_id, options_from_collection_for_select(Barber.all, :id, :username), :class => "form-control" ) %>
        </div>
      </div>

      <!-- Label and input for start_time -->
      <div class="form-group">
        <label for="start_time" class="col-sm-2 control-label">
          Start time
        </label>
        <div class="col-sm-10">

    <%= time_select :start_time, :hour_step => 15 %>
          <!-- <input type="text" id="start_time" name="start_time" placeholder="Start time" class="form-control" value="<%= @works_at.start_time %>"> -->
            <select id="start_time" name="start_time" class="form-control" value='<%= @works_at.start_time %>'>
            <option value="">--Select--</option>
            <option value="<0500">05:00 AM</option>
            <option value="0600">06:00 AM</option>
            <option value="0700">07:00 AM</option>
            <option value="0800">08:00 AM</option>
            <option value="0900">09:00 AM</option>
            <option value="1000">10:00 AM</option>
            <option value="1100">11:00 AM</option>
            <option value="1200">12:00 PM</option>
            <option value="1300">01:00 PM</option>
            <option value="1400">02:00 PM</option>
            <option value="1500">03:00 PM</option>
            <option value="1600">04:00 PM</option>
            <option value="1700">05:00 PM</option>
            <option value="1800">06:00 PM</option>
            <option value="1900">07:00 PM</option>
            <option value="2000">08:00 PM</option>
            <option value="2100">09:00 PM</option>
            <option value="2200">10:00 PM</option>
          </select>
        </div>
      </div>

      <!-- Label and input for end_time -->
      <div class="form-group">
        <label for="end_time" class="col-sm-2 control-label">
          End time
        </label>
        <div class="col-sm-10">
          <!-- <input type="text" id="end_time" name="end_time" placeholder="End time" class="form-control" value="<%= @works_at.end_time %>"> -->
            <select id="end_time" name="end_time" class="form-control" value="<%= @works_at.end_time %>">
            <option value="">--Select--</option>
            <option value="0500">05:00 AM</option>
            <option value="0600">06:00 AM</option>
            <option value="0700">07:00 AM</option>
            <option value="0800">08:00 AM</option>
            <option value="0900">09:00 AM</option>
            <option value="1000">10:00 AM</option>
            <option value="1100">11:00 AM</option>
            <option value="1200">12:00 PM</option>
            <option value="1300">01:00 PM</option>
            <option value="1400">02:00 PM</option>
            <option value="1500">03:00 PM</option>
            <option value="1600">04:00 PM</option>
            <option value="1700">05:00 PM</option>
            <option value="1800">06:00 PM</option>
            <option value="1900">07:00 PM</option>
            <option value="2000">08:00 PM</option>
            <option value="2100">09:00 PM</option>
            <option value="2200">10:00 PM</option>
          </select>
        </div>
      </div>

      <!-- Label and input for day_of_week -->
      <div class="form-group">
        <label for="day_of_week" class="col-sm-2 control-label">
          Day of week
        </label>
        <div class="col-sm-10">
          <!-- <input type="text" id="day_of_week" name="day_of_week" placeholder="Day of week" class="form-control" value="<%= @works_at.day_of_week %>"> -->
            <select id="day_of_week" name="day_of_week" class="form-control" value="<%= @works_at.day_of_week %>">
            <option value="Sunday">Sunday</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Update Works At" class="btn btn-warning">
          or
          <a href="/works_ats/<%= @works_at.id %>">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- End simple full-width example-->

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Works At #<%= @works_at.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_works_at/<%= @works_at.id %>" class="form-horizontal">
          <!-- Label and input for barbershop_id -->
          <div class="form-group">
            <label for="barbershop_id" class="col-sm-2 control-label">
              Barbershop
            </label>
            <div class="col-sm-10">

            <!--   <input type="text" id="barbershop_id" name="barbershop_id" placeholder="Barbershop" class="form-control" value="<%= @works_at.barbershop_id %>"> -->

               <%= select_tag(:barbershop_id, options_from_collection_for_select(Barbershop.all, :id, :name), :class => "form-control" ) %>
            </div>
          </div>

          <!-- Label and input for barber_id -->
          <div class="form-group">
            <label for="barber_id" class="col-sm-2 control-label">
              Barber
            </label>
            <div class="col-sm-10">
             <!--  <input type="text" id="barber_id" name="barber_id" placeholder="Barber" class="form-control" value="<%= @works_at.barber_id %>"> -->
             <%= select_tag(:barber_id, options_from_collection_for_select(Barber.all, :id, :username), :class => "form-control" ) %>

           </div>
         </div>

         <!-- Label and input for start_time -->
         <div class="form-group">
          <label for="start_time" class="col-sm-2 control-label">
            Start time
          </label>
          <div class="col-sm-10">
            <!-- <input type="text" id="start_time" name="start_time" placeholder="Start time" class="form-control" value="<%= @works_at.start_time %>"> -->
            <select id="start_time" name="start_time" class="form-control" value="<%= @works_at.start_time %>">
              <option value="">--Select--</option>
              <option value="0500">05:00 AM</option>
              <option value="0600">06:00 AM</option>
              <option value="0700">07:00 AM</option>
              <option value="0800">08:00 AM</option>
              <option value="0900">09:00 AM</option>
              <option value="1000">10:00 AM</option>
              <option value="1100">11:00 AM</option>
              <option value="1200">12:00 PM</option>
              <option value="1300">01:00 PM</option>
              <option value="1400">02:00 PM</option>
              <option value="1500">03:00 PM</option>
              <option value="1600">04:00 PM</option>
              <option value="1700">05:00 PM</option>
              <option value="1800">06:00 PM</option>
              <option value="1900">07:00 PM</option>
              <option value="2000">08:00 PM</option>
              <option value="2100">09:00 PM</option>
              <option value="2200">10:00 PM</option>
            </select>
          </div>
        </div>

          <!-- Label and input for end_time -->
          <div class="form-group">
            <label for="end_time" class="col-sm-2 control-label">
              End time
            </label>
            <div class="col-sm-10">
             <!--  <input type="text" id="end_time" name="end_time" placeholder="End time" class="form-control" value="<%= @works_at.end_time %>">
            </div> -->
            <select id="end_time" name="end_time" class="form-control" value="<%= @works_at.end_time %>">
            <option value="">--Select--</option>
            <option value="0500">05:00 AM</option>
            <option value="0600">06:00 AM</option>
            <option value="0700">07:00 AM</option>
            <option value="0800">08:00 AM</option>
            <option value="0900">09:00 AM</option>
            <option value="1000">10:00 AM</option>
            <option value="1100">11:00 AM</option>
            <option value="1200">12:00 PM</option>
            <option value="1300">01:00 PM</option>
            <option value="1400">02:00 PM</option>
            <option value="1500">03:00 PM</option>
            <option value="1600">04:00 PM</option>
            <option value="1700">05:00 PM</option>
            <option value="1800">06:00 PM</option>
            <option value="1900">07:00 PM</option>
            <option value="2000">08:00 PM</option>
            <option value="2100">09:00 PM</option>
            <option value="2200">10:00 PM</option>
          </select>
      </div>
          </div>

          <!-- Label and input for day_of_week -->
          <div class="form-group">
            <label for="day_of_week" class="col-sm-2 control-label">
              Day of week
            </label>
            <div class="col-sm-10">
             <!--  <input type="text" id="day_of_week" name="day_of_week" placeholder="Day of week" class="form-control" value="<%= @works_at.day_of_week %>"> -->
             <select id="day_of_week" name="day_of_week" class="form-control" value="<%= @works_at.day_of_week %>">
              <option value="Sunday">Sunday</option>
              <option value="Monday">Monday</option>
              <option value="Tuesday">Tuesday</option>
              <option value="Wednesday">Wednesday</option>
              <option value="Thursday">Thursday</option>
              <option value="Friday">Friday</option>
              <option value="Saturday">Saturday</option>
            </select>
          </div>
        </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Update Works At" class="btn btn-warning">
              or
              <a href="/works_ats/<%= @works_at.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
