<!-- Simple full-width example-->

<div class="page-header">
  <h1>Works At #<%= @works_at.id %></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Barbershop</dt>
      <dd><%= @works_at.barbershop_id %></dd>

      <dt>Barber</dt>
      <dd><%= @works_at.barber_id %></dd>

      <dt>Start time</dt>
      <dd><%= @works_at.start_time %></dd>

      <dt>End time</dt>
      <dd><%= @works_at.end_time %></dd>

      <dt>Day of week</dt>
      <dd><%= @works_at.day_of_week %></dd>

      <dt></dt>
      <dd>
        <div class="btn-group">
          <a href="/works_ats" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>

          <a href="/works_ats/<%= @works_at.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>

          <a href="/delete_works_at/<%= @works_at.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>
      </dd>
    </dl>

  </div>
</div>

<!-- End simple full-width example-->

<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Works At #<%= @works_at.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Barbershop</dt>
              <dd><%= @works_at.barbershop_id %></dd>

              <dt>Barber</dt>
              <dd><%= @works_at.barber_id %></dd>

              <dt>Start time</dt>
              <dd><%= @works_at.start_time %></dd>

              <dt>End time</dt>
              <dd><%= @works_at.end_time %></dd>

              <dt>Day of week</dt>
              <dd><%= @works_at.day_of_week %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/works_ats" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/works_ats/<%= @works_at.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_works_at/<%= @works_at.id %>" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
