<div class="page-header">
  <h1>
    Users
    <% if current_user.admin == true %>
    <a href="/users/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
    <% end %>
  </h1>
</div>

<!-- Simple table layout example -->

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
        <th> Avatar </th>
          <th>Username</th>
          <th>First name</th>
          <% if current_user.admin == true %>
          <th>Last name</th>
          <th>Email</th>
          <th>Telephone</th>
          <th>Admin</th>
          <% end %>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td>
          <a href="/users/<%= user.id %>">
          <img src="<%= user.avatar_url %>" alt=""  class="img-circle" width="80">
          </a>
          </td>

          <td><a href="/users/<%= user.id %>"><%= user.username %></a></td>
          <td><%= user.first_name %></td>

          <% if current_user.admin == true %>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= user.telephone %></td>
          <td><%= user.admin %></td>
          <% end %>

          <td>
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
          </td>

          <% if current_user.admin == true %>
          <td>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
          </td>
          <% end %>

          <% if current_user.admin == true %>
          <td>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger">
              <i class="fa fa-trash-o"></i>
            </a>
          </td>
          <% end %>

        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- End simple table layout example -->

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search Users (start typing)" class="form-control">
  </div>
</div>

<hr>


<% if current_user.admin == true %>
<div class="row isotope-container">
  <% @users.each do |user| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">User #<%= user.id %></h3>
      </div>
      <div class="panel-body">
        <dl>
<a href="/users/<%= user.id %>">
         <dd><img src="<%= user.avatar_url %>" alt="" class="img-circle" width="80"></dd>
         </a>
          <dt>Username</dt>
          <dd><%= user.username %></dd>

          <dt>First name</dt>
          <dd><%= user.first_name %></dd>

          <% if current_user.admin == true %>
          <dt>Last name</dt>
          <dd><%= user.last_name %></dd>

          <dt>Email</dt>
          <dd><%= user.email %></dd>

          <dt>Telephone</dt>
          <dd><%= user.telephone %></dd>
          <% end %>

        </dl>
        <div class="btn-group btn-group-justified">
          <a href="/users/<%= user.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>

          <% if current_user.admin == true %>
          <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
          <% end %>

          <% if current_user.admin == true %>
          <a href="/delete_user/<%= user.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>


<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container').isotope({
      itemSelector: '.isotope-item',
      layoutMode: 'masonry',
      filter: function() {
        return qsRegex ? $(this).text().match( qsRegex ) : true;
      }
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->
