<div class="page-header">
  <h1>
    Barbers
    <% if current_user.admin == true %>
    <a href="/barbers/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
    <% end %>
  </h1>
</div>

<!-- Simple table layout example -->

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th> Avatar </th>
          <th>Username</th>
          <th>Barbershop</th>
          <th>First name</th>
          <% if current_user.admin == true %>
          <th>Last name</th>
          <th>Telephone</th>
          <% end %>
          <th>Average rating</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        <% @barbers.each do |barber| %>
        <tr>
          <th>
           <img src="<%= barber.avatar_url %>" alt="" class="img-circle" width="80">
         </th>
         <td><%= barber.username %></td>
         <td>
         <% barber.barbershops.uniq.each do |barbershop| %>
          <%= barbershop.name %>
          </td>
          <% end %>

         <td><%= barber.first_name %></td>
         <% if current_user.admin == true %>
         <td><%= barber.last_name %></td>
         <td><%= barber.telephone %></td>
         <% end %>

         <% if barber.ratings.average(:rating).present? %>
         <td><%= barber.ratings.average(:rating).round(1) %></td>
         <% else %>
         <td>No ratings yet</td>
         <% end %>


         <td>
          <a href="/barbers/<%= barber.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <% if current_user.admin == true %>
        <td>
          <a href="/barbers/<%= barber.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <% end %>
        <% if current_user.admin == true %>
        <td>
          <a href="/delete_barber/<%= barber.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>

<!-- End simple table layout example -->

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search Barbers (start typing)" class="form-control">
  </div>
</div>

<hr>

<div class="row isotope-container">
  <% @barbers.each do |barber| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Barber #<%= barber.id %></h3>
      </div>
      <div class="panel-body">
        <dl>
          <dd>  <img src="<%= barber.avatar_url %>" alt="" class="img-circle" width="80"></dd>
          <dt>Username</dt>
          <dd><%= barber.username %></dd>

       <dt>Barbershop</dt>
          <dd>

          <% WorksAt.where(barber_id: barber.id).uniq.each  do |gig| %>
          <!-- Add HTML table here -->

          <% if WorksAt.where(barber_id: barber.id).count > 1 %>
          <tr>
          <%= gig.barbershop.name.first %>
            </tr>

            <% else %>
          <%= gig.barbershop.name %>

            <% end %>

            <% end %>
          </dd>


   <dt>Barbershop</dt>

             <dd>

          <% WorksAt.where(barber_id: barber.id).each  do |gig| %>
          <!-- Add HTML table here -->


          <tr>
          <%= gig.barbershop.name.first %>
            </tr>



            <% end %>
          </dd>



          <dt>First name</dt>
          <dd><%= barber.first_name %></dd>
          <% if current_user.admin == true %>
          <dt>Last name</dt>
          <dd><%= barber.last_name %></dd>

          <dt>Telephone</dt>
          <dd><%= barber.telephone %></dd>
          <% end %>

          <dt>Average rating</dt>

          <% if barber.ratings.average(:rating).present? %>
          <dd><%= barber.ratings.average(:rating).round(1) %></dd>
          <% else %>
          <dd>No ratings yet</dd>
          <% end %>

        </dl>
        <div class="btn-group btn-group-justified">
          <a href="/barbers/<%= barber.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
          <% if current_user.admin == true %>
          <a href="/barbers/<%= barber.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
          <% end %>
          <% if current_user.admin == true %>
          <a href="/delete_barber/<%= barber.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>



<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container').isotope({
      itemSelector: '.isotope-item',
      layoutMode: 'masonry',
      filter: function() {
        return qsRegex ? $(this).text().match( qsRegex ) : true;
      }
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->
