<!-- Simple full-width example-->

<div class="page-header">
  <h1>Barber #<%= @barber.id %></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Username</dt>
      <dd><%= @barber.username %></dd>

      <dt>First name</dt>
      <dd><%= @barber.first_name %></dd>

      <% if current_user.admin == true %>
      <dt>Last name</dt>
      <dd><%= @barber.last_name %></dd>

      <dt>Telephone</dt>
      <dd><%= @barber.telephone %></dd>
      <% end %>

      <dt>Average rating</dt>
      <dd><%= @barber.average_rating %></dd>

      <dt></dt>
      <dt></dt>

<!-- Add schdule to the Barber -->

      <dt>Schedule</dt>
      <dd>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Week Day</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                </tr>
              </thead>

              <tbody>

               <% WorksAt.where(barber_id: @barber.id).each  do |gig| %>
               <!-- Add HTML table here -->
               <tr>
                 <td><%= gig.day_of_week %></td>
                 <td><%= gig.start_time.strftime('%l:%M %p') %></td>
                 <td><%= gig.end_time.strftime('%l:%M %p') %></td>

                 <% end %>
               </tr>
             </tbody>
           </table>
         </div>
       </div>
     </dd>

     <!-- Add reviews to the Barber -->
<dt>Ratings</dt>
      <dd>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>User </th>
                  <th>Rating</th>
                  <th>Comments</th>
                </tr>
              </thead>

    <tbody>
     <% Rating.where(barber_id: @barber.id).each  do |rating| %>
     <!-- Add HTML table here -->
     <tr>
     <td><%= rating.user.username %></td>
       <td><%= rating.rating %></td>
       <td><%= rating.comment %></td>
     </tr>

     <% end %>


               </tr>
             </tbody>
           </table>
         </div>
       </div>
     </dd>



     <dt></dt>
     <dd>
      <div class="btn-group">
        <a href="/barbers" class="btn btn-primary">
          <i class="fa fa-chevron-left"></i>
        </a>
        <% if current_user.admin == true %>
        <a href="/barbers/<%= @barber.id %>/edit" class="btn btn-warning">
          <i class="fa fa-edit"></i>
        </a>
        <% end %>

        <% if current_user.admin == true %>
        <a href="/delete_barber/<%= @barber.id %>" class="btn btn-danger">
          <i class="fa fa-trash-o"></i>
        </a>
        <% end %>
      </div>
    </dd>
  </dl>

</div>
</div>

<!-- End simple full-width example-->

<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Barber #<%= @barber.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Username</dt>
              <dd><%= @barber.username %></dd>

              <dt>First name</dt>
              <dd><%= @barber.first_name %></dd>
              <% if current_user.admin == true %>
              <dt>Last name</dt>
              <dd><%= @barber.last_name %></dd>

              <dt>Telephone</dt>
              <dd><%= @barber.telephone %></dd>
              <% end %>

              <dt>Average rating</dt>
              <dd><%= @barber.average_rating %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/barbers" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <% if current_user.admin == true %>
              <a href="/barbers/<%= @barber.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <% end %>

              <% if current_user.admin == true %>
              <a href="/delete_barber/<%= @barber.id %>" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
                <% end %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->

<!-- Responsive Rating panel example-->

  <% Rating.where(barber_id: @barber.id).each  do |rating| %>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Rating </h3>
      </div>

      <!-- Add HTML table here -->
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">

      <div class="media">
        <a class="media-left" href="#">
          <img src="<%= rating.user.avatar_url %>" alt="" class="img-circle" width="80">
        </a>
    <div class="media-body">
    <h4 class="media-heading"><%= rating.user.username %></h4>
              <dt>Rating</dt>
              <dd><%= rating.rating  %></dd>

              <dt>Comments</dt>
              <dd><%= rating.comment %></dd>
    </div>
    </div>

            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<!-- End responsive panel example -->
