<div class="content-container">
  <!-- Simple full-width example-->

  <div class="page-header">
    <h1>Barber #<%= @barber.id %></h1>
  </div>

  <div class="one-third">
    <div class="row">
      <div class="col-md-12">
        <dl class="dl-horizontal">

          <dt>
            <img src="<%= @barber.avatar_url %>" alt="" class="img-circle" width="160">
          </dt>
          <dd></dd>

          <dt>Username</dt>
          <dd><%= @barber.username %></dd>

          <dt>First name</dt>
          <dd><%= @barber.first_name %></dd>

          <% if current_user.admin == true %>
          <dt>Last name</dt>
          <dd><%= @barber.last_name %></dd>

          <dt>Telephone</dt>
          <dd><%= @barber.telephone %></dd>
          <% end %>

          <dt>Average rating</dt>
          <% if @barber.ratings.average(:rating).present? %>
          <dd><%= @barber.ratings.average(:rating).round(1) %></dd>
          <% else %>
          <dd>No ratings yet</dd>
          <% end %>

          <dt></dt>
          <dt></dt>

        </div>
      </div>
    </div>

    <!-- Add schdule to the Barber -->
  <div class="two-third">
    <dt>Schedule</dt>
    <dd>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Week Day</th>
                <th>Barber shop</th>
                <th>Start Time</th>
                <th>End Time</th>
              </tr>
            </thead>

            <tbody>

             <% WorksAt.where(barber_id: @barber.id).each  do |gig| %>
             <!-- Add HTML table here -->
             <tr>
               <td><%= gig.day_of_week %></td>
               <td><a href="/barbershops/<%= gig.barbershop_id %>">
                 <%= gig.barbershop.name %>
               </a>
             </td>
             <td><%= gig.start_time.strftime('%l:%M %p') %></td>
             <td><%= gig.end_time.strftime('%l:%M %p') %></td>

             <% end %>
           </tr>
         </tbody>
       </table>
     </div>
   </div>
 </dd>
 </div>

<hr>

<!-- Responsive Rating panel example-->
<div class="ratings-container">
<% Rating.where(barber_id: @barber.id).each  do |rating| %>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Rating </h3>
      </div>

      <!-- Add HTML table here -->
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">

              <div class="media">
                <a class="media-left" href="#">
                  <img src="<%= rating.user.avatar_url %>" alt="" class="img-circle" width="80">
                </a>
                <div class="media-body">
                  <h4 class="media-heading"><%= rating.user.username %></h4>
                  <dt>Rating</dt>
                  <dd><%= rating.rating  %></dd>

                  <dt>Comments</dt>
                  <dd><%= rating.comment %></dd>
                </div>
              </div>

            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>

<!-- End responsive panel example -->
</div>
