<div class="content-container">
<div class="page-header">
  <h1>
    Barbershops
<% if current_user.admin == true %>
    <a href="/barbershops/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
    <% end %>
  </h1>
</div>

<div class = "one-half-left">
<!-- Put cordinates into an array -->
<% @barbershop_coords = [] %>
<% @barbershops.each do |marker| %>
<%  @barbershop_coords.push(['test', marker.latitude , marker.longitude]) %>
<% end %>

<!-- Code for Google Map -->

<div id="map-canvas" style="height: 400px"></div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>



  function initialize() {

    var map;
    var myCenter = new google.maps.LatLng(41.8750579, -87.6248076);

    var mapOptions = {
      zoom: 15,
      center: myCenter
    };

            // Display a map on the page
            map = new google.maps.Map(document.getElementById('map-canvas'),
              mapOptions);


            //Multiple Makers

        <% @barbershops.each do |barbershop| %>

            var myLatlng = new google.maps.LatLng(<%= barbershop.latitude %>, <%= barbershop.longitude %>);
            var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              title: '<%= barbershop.name %>'

            });
       <% end %>

          }

          google.maps.event.addDomListener(window, 'load', initialize);

        </script>


</div>

</div>
<!-- Simple table layout example -->
<div class="content-container">
<div class ="one-half-right"
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Neighborhood</th>
          <th>Telephone</th>
<!--           <th>Lat</th>
          <th>Long</th> -->
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @barbershops.each do |barbershop| %>
        <tr>
          <td><a href="/barbershops/<%= barbershop.id %>"><%= barbershop.name %></a></td>
          <td><%= barbershop.address %></td>
          <td><a href="/hoods/<%= barbershop.hood.id %>"><%= barbershop.hood.name %></td></a>
          <td><%= barbershop.telephone %></td>
          <td><%#= barbershop.latitude %></td>
          <td><%#= barbershop.longitude %></td>
         <!--  <td>
            <a href="/barbershops/<%= barbershop.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
          </td> -->
          <% if current_user.admin == true %>
          <td>
            <a href="/barbershops/<%= barbershop.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
          </td>
          <td>
            <a href="/delete_barbershop/<%= barbershop.id %>" class="btn btn-danger">
              <i class="fa fa-trash-o"></i>
            </a>
          </td>
          <% end %>
          <dd>
          </dd>
        </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>
</div>

<!-- End simple table layout example -->

<!-- Responsive, Isotope-based layout example -->

<!-- <div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search Barbershops (start typing)" class="form-control">
  </div>
</div>
<hr>
<div class="row isotope-container"> -->
  <%# @barbershops.each do |barbershop| %>
 <!--  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading"> -->
       <!--  <h3 class="panel-title">Barbershop #<%#= barbershop.id %></h3>
      </div>
      <div class="panel-body">
        <dl>
          <dt>Name</dt> -->
      <!--     <dd><%#= barbershop.name %></dd>

          <dt>Address</dt>
          <dd><%#= barbershop.address %></dd>

          <dt>Hood</dt>
          <dd><%#= barbershop.hood.name %></dd>

          <dt>Telephone</dt>
          <dd><%#= barbershop.telephone %></dd>

        </dl>
        <div class="btn-group btn-group-justified">
          <a href="/barbershops/<%#= barbershop.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
          <%# if current_user.admin == true %>
          <a href="/barbershops/<%#= barbershop.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>

          <a href="/delete_barbershop/<%#= barbershop.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
          <%# end %>
        </div>
      </div>
    </div>
  </div>
  <%# end %>
</div> -->

<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container').isotope({
      itemSelector: '.isotope-item',
      layoutMode: 'masonry',
      filter: function() {
        return qsRegex ? $(this).text().match( qsRegex ) : true;
      }
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

</div>

<!-- End responsive, Isotope-based layout example -->

