<!-- Simple full-width example-->

<div class="page-header">
  <!-- <h1>Barbershop #<%= @barbershop.name %></h1> -->
  <h1><%= @barbershop.name %></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <!-- <dt>Name</dt>
      <dd><%= @barbershop.name %></dd> -->

      <dt>Address</dt>
      <dd><%= @barbershop.address %></dd>

      <dt>Hood</dt>
      <dd><%= @barbershop.hood.name %></dd>

      <dt>Telephone</dt>
      <dd><%= @barbershop.telephone %></dd>

      <dt></dt>
      <dt>Map</dt>
      <dd>
        <!-- Code for Google Map -->
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
        <script>
          var map;
          function initialize() {

            var myLatlng = new google.maps.LatLng(<%= @latitude %>, <%= @longitude %>);

            var mapOptions = {
              zoom: 15,
              center: myLatlng
            };

            map = new google.maps.Map(document.getElementById('map-canvas'),
              mapOptions);

            var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              title: '<%= @barbershop.name %>'
            });
          }

          google.maps.event.addDomListener(window, 'load', initialize);

        </script>
        <div id="map-canvas" style="height: 400px"></div>
      </dd>

      <dd>
        <div class="btn-group">
          <a href="/barbershops" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>

          <a href="/barbershops/<%= @barbershop.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>

          <a href="/delete_barbershop/<%= @barbershop.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>
      </dd>
    </dl>

  </div>
</div>

<!-- End simple full-width example-->

<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Barbershop #<%= @barbershop.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Name</dt>
              <dd><%= @barbershop.name %></dd>

              <dt>Address</dt>
              <dd><%= @barbershop.address %></dd>

              <dt>Hood</dt>
              <dd><%= @barbershop.hood_id %></dd>

              <dt>Telephone</dt>
              <dd><%= @barbershop.telephone %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/barbershops" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/barbershops/<%= @barbershop.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_barbershop/<%= @barbershop.id %>" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
